// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sample {
    margin: 10px;
    height: 600px;
}

.form-group {
    padding-left: 10px;
}

.btn {
    margin-left: 10px;
}

.title {
    margin-right: 5px;
}

.g-infoWindow {
    img {
        display: inline-block;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .info {
        margin: 8px;
        display: inline-block;
        width: calc(100%-50px);
        .name {
            font-size: 1.2em;
            a {
                color: black;
            }
        }
        .address {
            color: rgb(126, 126, 126);
        }
        .tel {
            color: rgb(126, 126, 126);
        }

    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;
    svg {
        width: 20%;
        #fork {
            animation-name: fork-anime;
            animation-duration:2s;
            animation-timing-function:linear;
            animation-iteration-count:infinite;
            transform-origin: 50%;
        }

        #spoon {
            animation-name: spoon-anime;
            animation-duration:2s;
            animation-timing-function:linear;
            animation-iteration-count:infinite;
            transform-origin: 50%;
        }
    }
}

@keyframes fork-anime{
    0% {transform: translateX(0) rotate(0deg);}
    
    50%{transform: translateX(-65%) translateY(5%) rotate(-60deg);}
	100% {transform: translateX(0) rotate(0deg) ;}    
}

@keyframes spoon-anime{
    0% {transform: translateX(0) rotate(0deg);}
    
    50%{transform: translateX(65%) translateY(5%) rotate(60deg);}
	100% {transform: translateX(0) rotate(0deg) ;}    
}