<h1>Map#index</h1>


<form class="form-inline">
    <div class="form-group">
        <label class="title">出発地</label>
        <input type="text" class="form-control" id="start" placeholder="出発地">
    </div>
    <div class="form-group">
        <label class="title">目的地</label>
        <input type="text" class="form-control" id="end" placeholder="目的地">
    </div>
    <button type="submit" class="btn btn-warning" onclick="search(); return false;">検索</button>
</form>


<div id="sample"></div>
<div class="overlay">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1194.37 800">
    <defs>
        <style>
        .cls-1{fill:#fff}
        </style>
    </defs>
    <path class="cls-1" d="M387.22 0c-96 0-173.85 84.79-173.85 189.37 0 84.61 50.94 156.21 121.23 180.5v88.75h105.23v-88.74c70.28-24.29 121.23-95.9 121.23-180.51C561.06 84.79 483.23 0 387.22 0zm-78.53 127.68a120.69 120.69 0 0 0-16.57 61.69 15.25 15.25 0 0 1-30.5 0 150.45 150.45 0 0 1 20.75-76.89c13.16-22.15 31.94-40.08 54.46-51.08a15.35 15.35 0 0 1 20.44 6.8 14.94 14.94 0 0 1-6.9 20.13c-16.69 8.14-31.28 21.83-41.68 39.35zm146.73 354.44H319a16.31 16.31 0 0 0-16.42 16.2v218.27c0 46.07 37.89 83.41 84.63 83.41s84.64-37.34 84.64-83.41V498.32a16.32 16.32 0 0 0-16.43-16.2zm-68.2 244.7a22 22 0 1 1 22.36-22 22.21 22.21 0 0 1-22.36 22zm0-154.31a22 22 0 1 1 22.36-22 22.21 22.21 0 0 1-22.36 22z" id="spoon"/>
    <path class="cls-1" d="M935.5 0c-23.59 0-42.71 18.85-42.71 42.08v180.37c0 36.88-31.26 54.15-52.16 54.15.2-2.31.31-4.37.31-6.05V42.08c0-23.23-19.12-42.08-42.7-42.08s-42.7 18.85-42.7 42.08v228.47c0 1.68.11 3.74.31 6.05-20.9 0-52.16-17.27-52.16-54.15V42.08C703.69 18.85 684.57 0 661 0s-42.7 18.85-42.7 42.08v190.4c0 82.08 62 123.29 119.07 140 1.35.4 8.28 2 8.28 5.32v80.85h105.2v-80.88c0-3.34 6.94-4.92 8.27-5.32 57.13-16.68 119.08-57.89 119.08-140V42.08C978.2 18.85 959.08 0 935.5 0zm-69.05 482.12H730a16.31 16.31 0 0 0-16.42 16.2v218.21a.35.35 0 0 0 0 .06c0 46.07 37.9 83.41 84.63 83.41s84.65-37.34 84.65-83.41V498.32a16.32 16.32 0 0 0-16.41-16.2zm-68.21 244.7a22 22 0 1 1 22.37-22 22.2 22.2 0 0 1-22.37 22zm0-154.31a22 22 0 1 1 22.37-22 22.2 22.2 0 0 1-22.37 22z" id="fork"/>
    </svg>
</div>
